@tailwind base;
@tailwind utilities;
@tailwind components;

.custom-button {
	display: inline-flex;
	padding: 18px 41px;
	align-items: center;
	gap: 10px;
	border-radius: 8px;
	background: #8e9399;
	color: var(--base-light, #fff);
	text-align: center;
	font-family: Raleway;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 36px */
	letter-spacing: -0.9px;
}
