@tailwind base;
@tailwind utilities;
@tailwind components;

.custom-button {
	display: inline-flex;
	padding: 18px 41px;
	align-items: center;
	gap: 10px;
	border-radius: 8px;
	background: #8e9399;
	color: var(--base-light, #fff);
	text-align: center;
	font-family: Raleway;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 36px */
	letter-spacing: -0.9px;
}

/* Apply different padding and font-size for different screen sizes */

/* Small screens ('sm-phone') */
@media (max-width: 320px) {
	.custom-button {
		padding: 12px 24px;
		font-size: 18px;
		justify-content: center;
		margin-left: 30%;
		margin-top: 16%;
	}
}

/* Medium screens ('md-phone') */
@media (min-width: 321px) and (max-width: 375px) {
	.custom-button {
		padding: 14px 28px;
		font-size: 20px;
		justify-content: center;
		margin-left: 30%;
		margin-top: 15%;
	}
}

/* Large screens ('lg-phone') */
@media (min-width: 376px) and (max-width: 414px) {
	.custom-button {
		padding: 16px 32px;
		font-size: 22px;
		justify-content: center;
		margin-left: 30%;
		margin-top: 15%;
	}
}

/* Extra large screens ('xl-phone') */
@media (min-width: 415px) and (max-width: 480px) {
	.custom-button {
		padding: 18px 36px;
		font-size: 24px;
		justify-content: center;
		margin-left: 30%;
		margin-top: 15%;
	}
}

/* Small tablets ('sm-tablet') */
@media (min-width: 481px) and (max-width: 600px) {
	.custom-button {
		font-size: 24px;
		justify-content: center;
		margin-left: 60%;
		margin-top: 12%;
	}
}

/* Medium tablets ('md-tablet') */
@media (min-width: 601px) and (max-width: 639px) {
	.custom-button {
		padding: 18px 36px;
		font-size: 24px;
		justify-content: center;
		margin-left: 30%;
		margin-top: 15%;
	}
}

/* Large tablets ('lg-tablet') */
@media (min-width: 640px) and (max-width: 767px) {
	.custom-button {
		padding: 18px 36px;
		font-size: 24px;
		justify-content: center;
		margin-left: 3%;
	}
}

/* Extra large tablets (xl-tablet */
@media (min-width: 768px) and (max-width: 840px) {
	.custom-button {
		padding: 18px 36px;
		font-size: 24px;
		margin-left: 3%;
	}
}

/* Double Extra large tablets (2xl-tablet */
@media (min-width: 841px) and (max-width: 1023px) {
	.custom-button {
		padding: 18px 36px;
		font-size: 24px;
		justify-content: center;

		margin-top: -15%;
	}
}

/* Custom Image */

/* Small screens ('sm-phone') */
@media (max-width: 320px) {
	.custom-image-class {
		max-width: 100%;
		margin-top: 20%;
	}
}

/* Medium screens ('md-phone') */
@media (min-width: 321px) and (max-width: 375px) {
	.custom-image-class {
		max-width: 100%;
		margin-top: 17%;
	}
}

/* Large screens ('lg-phone') */
@media (min-width: 376px) and (max-width: 414px) {
	.custom-image-class {
		max-width: 100%;
		margin-top: 17%;
	}
}

/* Extra large screens ('xl-phone') */
@media (min-width: 415px) and (max-width: 480px) {
	.custom-image-class {
		max-width: 100%;
		margin-top: 17%;
	}
}

/* Small tablets ('sm-tablet') */
@media (min-width: 481px) and (max-width: 600px) {
	.custom-image-class {
		max-width: 100%;
		margin-top: -19%;
		max-width: 80%;
		max-height: 150px;
	}
}

/* Medium tablets ('md-tablet') */
@media (min-width: 601px) and (max-width: 639px) {
	.custom-image-class {
		max-width: 100%;
		margin-top: 10%;
		margin-right: 5%;
	}
}

/* Large tablets ('lg-tablet') */
@media (min-width: 640px) and (max-width: 767px) {
	.custom-image-class {
		max-width: 100%;
		margin-top: -17%;
		margin-right: 3%;
	}
}

/* Extra large tablets (xl-tablet */
@media (min-width: 768px) and (max-width: 840px) {
	.custom-image-class {
		max-width: 100%;
		margin-top: -17%;
		margin-right: 3%;
	}
}

/* custom paragraph - landing page */

/* Small screens ('sm-phone') */
@media (max-width: 320px) {
	.custom-paragraph1 {
		font-size: 14px;
		margin-top: 15%;
		text-align: center;
		align-items: center;
		line-height: 1.6;
	}
}

/* Medium screens ('md-phone') */
@media (min-width: 321px) and (max-width: 375px) {
	.custom-paragraph1 {
		font-size: 16px;
		margin-top: 12%;
		text-align: center;
		align-items: center;
		line-height: 1.6;
	}
}

/* Large screens ('lg-phone') */
@media (min-width: 376px) and (max-width: 414px) {
	.custom-paragraph1 {
		font-size: 18px;
		margin-top: 12%;
		text-align: center;
		align-items: center;
		line-height: 1.6;
	}
}

/* Extra large screens ('xl-phone') */
@media (min-width: 415px) and (max-width: 480px) {
	.custom-paragraph1 {
		font-size: 20px;
		margin-top: 12%;
		text-align: center;
		align-items: center;
		line-height: 1.6;
	}
}

/* Small tablets ('sm-tablet') */
@media (min-width: 481px) and (max-width: 600px) {
	.custom-paragraph1 {
		font-size: 20px;
		margin-top: 7%;
		text-align: center;
		align-items: center;
		line-height: 1.6;
	}
}

/* Medium tablets ('md-tablet') */
@media (min-width: 601px) and (max-width: 639px) {
	.custom-paragraph1 {
		font-size: 20px;
		margin-top: 12%;
		text-align: center;
		align-items: center;
		line-height: 1.6;
	}
}

/* Large tablets ('lg-tablet') */
@media (min-width: 640px) and (max-width: 767px) {
	.custom-paragraph1 {
		font-size: 20px;
		margin-top: 12%;
		text-align: center;
		align-items: center;
		line-height: 1.6;
	}
}

/* Extra large tablets (xl-tablet */
@media (min-width: 768px) and (max-width: 840px) {
	.custom-paragraph1 {
		font-size: 20px;
		margin-top: 12%;
		text-align: center;
		align-items: center;
		line-height: 1.6;
	}
}

/* Custom H1 tag */

/* Small screens ('sm-phone') */
@media (max-width: 320px) {
	.custom-h1 {
		line-height: 1.5; /* Adjust this value for your desired line height */
	}
}

/* Medium screens ('md-phone') */
@media (min-width: 321px) and (max-width: 375px) {
	.custom-h1 {
		line-height: 1.5; /* Adjust this value for your desired line height */
	}
}

/* Large screens ('lg-phone') */
@media (min-width: 376px) and (max-width: 414px) {
	.custom-h1 {
		line-height: 1.4; /* Adjust this value for your desired line height */
	}
}

/* Extra large screens ('xl-phone') */
@media (min-width: 415px) and (max-width: 480px) {
	.custom-h1 {
		line-height: 1.5; /* Adjust this value for your desired line height */
	}
}

/* Small tablets ('sm-tablet') */
@media (min-width: 481px) and (max-width: 600px) {
	.custom-h1 {
		line-height: 1.5; /* Adjust this value for your desired line height */
	}
}

/* Medium tablets ('md-tablet') */
@media (min-width: 601px) and (max-width: 639px) {
	.custom-h1 {
		line-height: 1.5; /* Adjust this value for your desired line height */
	}
}

/* Large tablets ('lg-tablet') */
@media (min-width: 640px) and (max-width: 767px) {
	.custom-h1 {
		line-height: 1.5; /* Adjust this value for your desired line height */
	}
}
